<!DOCTYPE html>
<html>
   <head>
      <title>Custom insertion example</title>
      <!-- prettier-ignore -->
   </head>
   <body>
      <span>Ciao</span>
      <img src="./assets/img/natura.jpg" alt="Natura.jpg" />
      <img src="./assets/img/natale.jpg" alt="Natale.jpg" />
      <button class="hello-world-button">Ciao</button>
      <img id="asset-resource" />

      <a href="./ananas.html">Vai alla pagina dell'ananas</a>
   </body>
</html>
